// variables
$color_bgr: #fff;
$color_hover: #FF6464;
$color_time: #142850;
$color_sub_title: #8695A4;
$color_border: #E0E0E0;
$font_family_main: Arial, Helvetica, sans-serif;
$font_size_main: 16px;
$font_size_title: 20px;
